#header, #footer { /**Se utiliza # para editar los id */
    background-color: rgba(102, 255, 0, 0.856);   /* se da formato al color del fondo */
    height: 100px;                                  /* se da formato a la altura del area */
    border: 1px solid black;                      /* se aplica un borde */
}
#content{
    margin-top: 10px;                               /* se agrega un espaciado arriba */
    margin-bottom: 10px;                            /* se agrega un espaciado abajo*/
    height: 50px;                                   /* se da formato a la altura del area */ 
}
.columna{ /* Se utiliza . para editar las class*/
    width: 33%;                                     /* se da formato al ancho del area */
    height: 100%;                                   /* se da formato a la altura del area */
    background-color: rgba(102, 255, 0, 0.856);   /* se da formato al color del fondo */
    border: 1px solid black;                      /* se aplica un borde */
    float: left;                                    /* se hace flotante y se define hacia donde acomodarse */
}