body{
    font-family: fantasy;
    background: rgb(198, 214, 216);
  
  
    }

h1{
    text-align: center;
  
    
    
}

section{
  
    width: 6cm;
    height: 4cm;
    border: 2px dashed gray;
    float: left;
    padding: 15px;
    display: inline-block;
    position: relative;

    
}
#datos{
    margin-left: 30%;
}

#altura,
#base,
#submit
{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}






